In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns

In [3]:
## load data
df_settle_clendar_raw = pd.read_csv('data/seattle/calendar.csv')
df_settle_listings_raw = pd.read_csv('data/seattle/listings.csv')
df_settle_reviews_raw = pd.read_csv('data/seattle/reviews.csv')

df_boston_airbnb_calendar_raw = pd.read_csv('data/boston-airbnb-open-data/calendar.csv')
df_boston_airbnb_listings_raw = pd.read_csv('data/boston-airbnb-open-data/listings.csv')
df_boston_airbnb_reviews_raw = pd.read_csv('data/boston-airbnb-open-data/reviews.csv')

In [4]:
df_settle_clendar_raw.count()

listing_id    1393570
date          1393570
available     1393570
price          934542
dtype: int64

In [5]:
df_boston_airbnb_calendar_raw.count()

listing_id    1308890
date          1308890
available     1308890
price          643037
dtype: int64

In [6]:
df_settle_clendar_raw.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [7]:
df_boston_airbnb_calendar_raw.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN